<script>
  import { createEventDispatcher } from 'svelte'
  /**
   * Define types of link for priority UX
   * @type {"primary" | "secondary"}
   */
  export const variant = 'primary'
  /**
   * Hyperlink to call after clicked
   * @type {string | any}
   */
  export const href = ''
</script>

<a class="{variant} " href="{href}"><slot>Link</slot></a>

<style lang="scss">
  @import '../../styles/link.scss';
</style>
