<style lang="scss">
  @import '../../styles/button';
</style>

<script>
  import { createEventDispatcher } from 'svelte'

  /**
   * Function to call when click
   * @type {() => void}
   */
  export let call = () => {}

  /**
   * Style configuration for button
   * @type {string | [string]}
   */
  export let style = ''
  style = typeof style == 'string' ? style : style.join(' ')

  /**
   * Disable button after clicked in `ms` to prevent spam.
   * @type {number}
   */
  export let disableOnClickedTimeout = 0

  let isDisable = false
  let isLoading = 'none'

  /**
   * Loading icon after clicked and disabled
   * @type {boolean}
   */
  export let clickedLoading = false

  const dispatch = createEventDispatcher()
  function onClick(event) {
    dispatch('click', event)
    if (disableOnClickedTimeout > 0 || clickedLoading) {
      isDisable = true
      isLoading = 'collapse'
      setTimeout(() => ([isDisable, isLoading] = [false, 'visible']), disableOnClickedTimeout)
    }
    return call()
  }
</script>

<button class="button {style}" on:click="{onClick}" disabled="{isDisable}">
  <div class="icon">
    <i class="loading fa fa-spin fa-circle-o-notch" style="visibility:{isLoading}"></i>
  </div>
  <slot>Button</slot>
</button>
