<script>
  import { Meta, Story } from '@storybook/addon-svelte-csf'
  import { Button } from '../../components/'
  import ButtonDocs from './Button.mdx'
</script>

<Meta
  title="Button"
  component="{Button}"
  argTypes="{{ call: { action: 'onClick' } }}"
  parameters="{{ docs: { page: ButtonDocs } }}" />

<Story name="Common Button">
  <Button disableOnClickedTimeout="{2000}" clickedLoading="{true}">Hi</Button>
  <Button style="{['red']}">Button</Button>
</Story>

<Story name="Function Button">
  <Button call="{() => alert('Clicked Button')}">Call Alert</Button>
</Story>
