<script>
  import { Meta, Story } from '@storybook/addon-svelte-csf'
  import { Link } from '../../components/'
  import LinkDocs from './Link.mdx'
</script>

<Meta
  title="Link"
  component="{Link}"
  argTypes="{{ variant: { control: { type: 'option' }, options: ['primary', 'secondary', 'ghost'] } }}"
  parameters="{{ docs: { page: LinkDocs } }}" />

<Story name="External Link">
  <Link href="#">Hi</Link>
</Story>
