/** @format */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.button {
  border: none;
  border-radius: 6px;
  background-color: #333;
  cursor: pointer;
  padding: 8px 16px;
  color: #eee;
  transition: 180ms ease-in-out;

  div {
    display: inline-block;
  }
  &:hover {
    color: #333;
    background-color: #eee;
    box-shadow: 2px 2px rgba(100, 100, 100, 0.5);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.red {
  background: #dd3333;
}
.big {
  padding: 24px 36px;
}

.white {
  background: #eee;
  color: #333;
}
.icon {
  .loading {
    display: none;
  }
}
